/* Good habit set box-sizing  */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    padding: 32px;
  
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* for desktop */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0px 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}
/* for tablet */
@media (max-width:800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
/* for mobile */
@media (max-width:600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}